<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel='stylesheet' href='../static/css/dashboard.css'/>
</head>
<body>

<div id="top-bar-container" class="panel">
    <h2 id="welcome_text"> Welcome [USERS NAME] to [HOUSEHOLDNAME]!</h2>

    <button
        onclick="logout()">
            Log Out
    </button>
</div>

<div id="dashboard-container" class="panel">

    <div id="listtable-container" class="table-container">

        <div class="listtable-header">
            <span>Click on a list to view/edit</span>

            <button
                onclick="location.href='/newlist'">
                Create New List
            </button>
        </div>

        <div id="listresults" class="scroll-box">

            <table id="listTable">
                <thead>
                    <th>List Name</th>
                    <th>Is Stock List?</th>
                </thead>
                <tbody id = "listTable_tbody"></tbody>
            </table>

        </div>

    </div>

    <div id="userTable-container" class="table-container">
    <div class="listtable-header">
        <button id="editMembersButton"  onclick="location.href='/edituser'">Add Members</button>
    </div>

        <div id="userresults" class="scroll-box">

            <table id="userTable">
                <thead>
                    <tr>
                        <th id = "userTable_header" scope="col">Household Members: </th>
                    </tr>
                </thead>
                <tbody id = "userTable_tbody"> </tbody>
            </table>

        </div>

    </div>

</div>
<script src="../static/js/dashboard.js"></script>
</body>
</html>
